{% extends "account/base_entrance.html" %}
<!-- Расширяет базовый шаблон base_entrance.html
Это означает, что этот шаблон будет использовать структуру и блоки из базового шаблона
Все содержимое будет вставлено в соответствующие блоки базового шаблона -->
{% load static %}
<!--это шаблонный тег Django, который позволяет работать со статическими файлами в шаблонах-->
{% block title %}Доска объявлений{% endblock title %}
<!-- Блок title определяет заголовок страницы (тег <title> в HTML) -->
{% block content %}
<!-- Начинает блок content - основное содержимое страницы
Этот блок будет вставлен в соответствующий блок content в базовом шаблоне -->
    <h1>Доска объявлений</h1>
<!-- Заголовок 3-го уровня на странице
Отображается как текст "Доска объявлений" -->
    <img src="{% static 'images/board_home.png' %}" alt="home">
<!-- <img
Открывающий тег для изображения (image)
img - сокращение от "image"
src - атрибут "source" (источник)
Должен содержать путь к изображению, например:
src="images/home.jpg"
src="/static/img/logo.svg"
alt="home"
Задает высоту отображени -->
{% endblock content %}
<!-- Закрывает блок content
Указывает, где заканчивается содержимое этого блока -->

