{% extends 'base/default.html' %}
{% block title %}Все объявления{% endblock title %}

{% block content %}
<h3 class="text-dark">Все объявления</h3>

<table>
    <tr>
        <td>Автор</td>
        <td>Дата</td>
        <td>Заголовок</td>
        <td>Содержание</td>
        <td>Категория</td>
    </tr>
    {% for post in posts %}
    <tr>
        <td>{{ post.user.username }}</td>
        <td>{{ post.created_at|date:'d E Y' }}</td>
        <td><a href="{% url 'board_detail' post.id %}">{{ post.title }}</a></td>
        <td>{{ post.content|safe }}</td>
        <td>{{ post.category.name }}</td>
    </tr>
    {% endfor %}
</table>


    {% if page_obj.has_previous %}
    <a href="?page=1">1</a>
    {% if page_obj.previous_page_number != 1 %}
    ...
    <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
    {% if paginator.num_pages != page_obj.next_page_number %}
    ...
    <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
    {% endif %}

    {% endblock content %}